<div class="copyright" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span>Copyright ©2023 <a href="/">刀客源码网在线工具网</a></span> | <span><a
                    href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">皖ICP备20236666666号-2</a></span><a href="#" target="_blank">公网安备 8888888888888号 </a></div>
<script>
<!---统计代码-->
</script>
        </div>
    </div>
</div>
<a class="gotop" href="#top" title="返回顶部" style="display: none;"><span class="arrow"></span><span
        class="arrow lit"></span></a>
<script>tj();</script>